extends layout

mixin small-picture
  - var picSize = 250
  img(src="public/images/instacat.jpeg" alt=":(" width="#{picSize}" height="#{picSize}")

mixin status
  table
    tbody
      tr
        td
          div START
          div#start Cat
        td
          div PREVIOUS
          div#previous -
        td
          div CURRENT
          div#current Cat
        td
          div END
          div#end Smith

mixin us
  div By Lily, Indy, Julia, and Danae

mixin picture-choices()
  table
    tbody
      tr
        td#pic1
          +small-picture()
        td#pic2
          +small-picture()
      tr
        td#pic3
          +small-picture()
        td#pic4
          +small-picture()
   
mixin tags
  td(valign="top")
    div#tag-title Tags
    div#tags  
     
mixin choose-picture
  table
    tbody
      tr
        td
          +picture-choices()
          +tags()
  +status()
  +us()
  
mixin choose-tag
  table
    tbody
      tr
        td
          - var picSize = 500
          img(src="public/images/instacat.jpeg" alt=":(" width="#{picSize}" height="#{picSize}")
        td
          +tags()
  +status()
  +us()
  
block content
  h1 #tag
  
  div#choose-picture.show
    +choose-picture()
  div#choose-tag.noshow
    +choose-tag()
  div#end.noshow