extends layout

mixin small-picture
  - var picSize = 225
  img(src="public/images/instacat.jpeg" alt=":(" width="#{picSize}" height="#{picSize}")

mixin status
  table#status
    tbody
      tr
        td
          div 
            h2 START
          div#start Cat
        td
          div 
            h2 PREVIOUS
          div#previous -
        td
          div 
            h2 CURRENT
          div#current Cat
        td
          div 
            h2 END
          div#end Smith

mixin us
  div By Lily, Indy, Julia, and Danae at Hack@Brown

mixin picture-choices()
  table#picture-choices
    tbody
      tr
        td#pic1
          +small-picture()
        td#pic2
          +small-picture()
      tr
        td#pic3
          +small-picture()
        td#pic4
          +small-picture()

mixin tags
  td(valign="top")
    div.tag-title Tags:
    div.tags
      ul
        li never
        li gonna
        li give
        li you
        li up
        li never
        li gonna
        li let
        li you
        li down
        li never
        li gonna
        li run
        li around
        li and
        li hurt
        li you
        li never
        li gonna
        li make
        li you
        li cry
        li never
        li gonna
        li say
        li goodbye
        li never
        li gonna
        li run
        li and
        li hide
        li and
        li desert
        li you

mixin choose-picture
  table
    tbody
      tr
        td
          +picture-choices()
          +tags()
  +status()
  +us()
  
mixin choose-tag
  table
    tbody
      tr
        td
          - var picSize = 430
          img(src="public/images/instacat.jpeg" alt=":(" width="#{picSize}" height="#{picSize}")
        td
          +tags()
  +status()
  +us()
  
block content
  h1 
    span #tag
    span#help ?
  div#choose-picture.noshow
    +choose-picture()
  div#choose-tag.show
    +choose-tag()
  div#end.noshow