extends layout

mixin small-picture
  - var picSize = 225
  // img(src="public/images/instacat.jpeg" alt=":(" width="#{picSize}" height="#{picSize}")

mixin status
  table#status
    tbody
      tr
        td
          div 
            h2 START
          div#start Cat
        td
          div 
            h2#previous-link PREVIOUS
          div#previous -
        td
          div 
            h2 CURRENT
          div#current Cat
        td
          div 
            h2 END
          div#end Smith

mixin us
  div By Lily, Indy, Julia, and Danae at Hack@Brown

mixin picture-choices()
  table#picture-choices
    tbody
      tr
        td#pic1.pic
          +small-picture()
        td#pic2.pic
          +small-picture()
      tr
        td#pic3.pic
          +small-picture()
        td#pic4.pic
          +small-picture()

mixin tags(showTags)
  td(valign="top")
    div.tag-title Tags:
    div.tags
      if showTags
        ul#tags-list

mixin choose-picture
  table
    tbody
      tr
        td
          +picture-choices()
          +tags(false)
  
mixin choose-tag
  table
    tbody
      tr
        td
          - var picSize = 430
          img(src="public/images/instacat.jpeg" alt=":(" width="#{picSize}" height="#{picSize}")#chosen-pic
        td
          +tags(true)

mixin end-game
  div(position="absolute") HOOD JOB EVERYBOOODOY
  
block content
  h1 
    span #tag
    span#help ?
  span#about.noshow
    div Find your way from #start to #end by:
    div 1.) selecting one of the four images
    div 2.) clicking on one of its hashtags and
    div 3.) repeating with the next set of images.
    br
    div Thanks to the Hack@Brown coordinators for a great experience.
    br
    div Happy tagging!
  div#choose-picture.show
    +choose-picture()
  div#choose-tag.noshow
    +choose-tag()
  div#endgame.noshow
    +end-game()
  +status()
  +us()
