doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='/public/javascript/getTags.js')
    script(src='/public/javascript/search.js')
    script(src='/public/javascript/init.js').    
  body
    block content
