body
  padding 3em
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
table
  margin-left auto
  margin-right auto
.noshow
  display none
#picture-choices
  td
    padding .25em
#status
  margin-top 2.5em
  margin-bottom 2.5em
  text-align center
  td
    padding-left 3.25em
    padding-right 3.25em
.tags
  border 1px dotted gray
  height 31em
  margin 1em
  margin-bottom 0em
  overflow scroll
  width 10em
  ul
    list-style-type none
    li
      margin-top 1em