body {
  padding: 3em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
table {
  margin-left: auto;
  margin-right: auto;
}
.noshow {
  display: none;
}
#about {
  position: absolute;
  width: 21em;
}
#help {
  border: 2px dotted #ffa500;
  border-radius: 1em;
  font-size: 0.5em;
  margin-left: 0.5em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
#picture-choices td {
  padding: 0.25em;
}
#previous-link:hover {
  color: #ffa500;
}
#previous-link {
  color: #fff;
  font-size: 2em;
  margin-left: 13em;
  position: absolute;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#status {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-align: center;
}
#status td {
  padding-left: 3.25em;
  padding-right: 3.25em;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 5;
}
#popup {
  position: absolute;
  text-align: center;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 566;
  margin-left: -250px;
  background-color: #fff;
  z-index: 10;
}
.tags {
  border: 1px dotted #808080;
  height: 29em;
  margin: 1em;
  margin-bottom: 0em;
  overflow: scroll;
  width: 10em;
}
.tags li:hover {
  color: #ffa500;
}
.tags ul {
  list-style-type: none;
}
.tags ul li {
  margin-top: 1em;
}
